# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Environment
.env
*.env

# Google credentials
*.json

# OS
.DS_Store
Thumbs.db

# Logs
debug.log
*.log

# Jupyter
.ipynb_checkpoints/

# Misc
*.sqlite3
*.db
